# **QUESTION 1**

In [13]:
#Use a python code to display the following star pattern using the for loop
for i in range (1,10):
    if(i<6):
        for j in range(0,i):
            print("*",end=" ")
        print("")
    else:
        x=i-5
        for j in range(0,5-x):
            print("*",end=" ")
        print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**QUESTION 2**

In [14]:
#Use looping to output the elements from a provided list present at odd indexes.
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(0,len(my_list)):
    if(i%2==1):
        print(my_list[i])

20
40
60
80
100

**QUESTION 3**

In [16]:
#Write a code that appends the type of elements from a given list.
input
x = [23, 'Python', 23.98]
xt=[]
for i in x:
    xt.append(type(i))
print(x)
print(xt)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

**QUESTION 4**

In [17]:
#Write a function that takes a list and returns a new list with unique items of the first list
Sample_List=[1,2,3,3,3,3,4,5]
Unique_List=list(set(Sample_List))
print(Unique_List)

[1, 2, 3, 4, 5]

**QUESTION 5**

In [20]:
#Write a function that accepts a string and calculate the number of upper-case letters and lower-case letters.
Input_String='The quick Brow Fox'
uppercasealpha=0
lowercasealpha=0
for i in Input_String:
    if(i.isupper()):
        uppercasealpha+=1
    else:
        if(i.islower()):
            lowercasealpha+=1
print("No. of Upper-case characters: "+str(uppercasealpha))
print("No. of Lowwer-case characters: "+str(lowercasealpha))

No. of Upper-case characters: 3
No. of Lowwer-case characters: 12